/*!
	-----------------------------------------------------------------------------

	2.0 - Basicos
			# Basic
			# Utility
			# Extra

	-----------------------------------------------------------------------------
	*/

/*  Talleres que tenemos
	========================================================================== */
.programa-talleres
	background-color: $white
	padding: 60px 0

/*  Calendario de Actividades
	========================================================================== */
.programa-calendario
	background-image: linear-gradient(-180deg, #FE8787 0%, #EF4B84 100%)
	padding-bottom: 60px

	.programa-calendario-head
		align-items: center
		display: flex
		justify-content: space-between
		padding: 60px 0
		+respond-to(tl)
			flex-direction: column
		+respond-to(tp)
			flex-direction: column
		+respond-to(sl)
			flex-direction: column
		+respond-to(sp)
			flex-direction: column
		.programa-calendario-cat
			display: flex
			justify-content: flex-start
			+respond-to(tl)
				order: 2
			+respond-to(tp)
				order: 2
			+respond-to(sl)
				order: 2
			+respond-to(sp)
				order: 2
			p
				background-color: $white
				+border-radius(20px)
				color: $font-color
				cursor: pointer
				font-size: .8rem
				margin-right: 8px
				padding: 4px 30px
				&:last-child
					margin-right: 0

		.programa-calendario-title
			align-items: flex-end
			display: flex
			flex-direction: column
			+respond-to(tl)
				align-items: center
				margin-bottom: 30px
				order: 1
			+respond-to(tp)
				align-items: center
				margin-bottom: 30px
				order: 1
			+respond-to(sl)
				align-items: center
				margin-bottom: 30px
				order: 1
			+respond-to(sp)
				align-items: center
				margin-bottom: 30px
				order: 1
			h2
				color: $white
				font-size: 2rem
				font-weight: $bold
				letter-spacing: 1px
				text-transform: uppercase
			.programa-calendario-title-mes
				color: $white
				font-size: 1.6rem
				font-weight: $regular
				letter-spacing: 1px

	.programa-calendario-body
		display: flex
		flex-wrap: wrap
		flex-flow: row wrap
		height: 1200px
		overflow-x: auto
		overflow-y: auto
		position: relative
		width: 100%

		.programa-calendario-body-int
			align-items: flex-start
			// bottom: 0
			display: flex
			flex-wrap: wrap
			flex-flow: row wrap
			// height: 100%
			left: 0
			overflow-x: auto
			overflow-y: auto
			position: absolute
			// right: 0
			top: 0
			width: 1960px

			.programa-calendario-item
				display: flex
				flex-wrap: wrap
				flex-flow: row wrap
				// justify-content: space-between
				margin-right: 1.30%
				width: 350px
				&:last-child
					margin-right: 0

				// +respond-to(lg)
				// 	margin-right: 1.30%
				// 	width: 24%
				// 	&:nth-of-type(4n + 4)
				// 		margin-right: 0
				// +respond-to(md)
				// 	margin-right: 3%
				// 	width: 31.31%
				// 	&:nth-of-type(3n + 3)
				// 		margin-right: 0
				// +respond-to(tl)
				// 	margin-right: 2%
				// 	width: 49%
				// 	&:nth-of-type(2n + 2)
				// 		margin-right: 0
				// +respond-to(tp)
				// 	margin-right: 2%
				// 	width: 49%
				// 	&:nth-of-type(2n + 2)
				// 		margin-right: 0
				// +respond-to(sl)
				// 	margin-right: 0
				// 	width: 100%
				// +respond-to(sp)
				// 	margin-right: 0
				// 	width: 100%

				.programa-calendario-text,
				.programa-calendario-card
					display: flex
					flex-wrap: wrap
					width: 100%
			
				.programa-calendario-text
					color: $white
					font-size: .95rem
					justify-content: center
					margin-bottom: 4px
					padding: 6px 0
					text-align: center

				.programa-calendario-card
					background-color: $white
					+border-radius(3px)
					display: flex
					height: 120px
					margin-bottom: 20px
					padding: 20px 14px
					.programa-calendario-card-horario,
					.programa-calendario-card-datos
						display: flex
						flex-direction: column
						justify-content: center

					.programa-calendario-card-horario
						align-items: center
						padding-right: 14px
						width: 35%
						p
							font-size: .9rem
							text-align: center
							width: 100%
						span
							background-color: $pink
							display: block
							height: 1px
							margin: 4px auto
							width: 20px

				.programa-calendario-card-datos
					align-items: flex-start
					width: 65%
					p
						font-size: .9rem
						margin: .35rem 0
						width: 100%
						// &:first-child
						// 	margin-bottom: 10px
						span
							color: $pink

/*  Consultorio
	========================================================================== */
.programa-consultorio
	// background-color: green
	padding: 60px 0
	position: relative
	.programa-consultorio-panel
		background-color: #EF4B84
		height: 350px
		left: 0
		position: absolute
		right: 0
		top: 0
		width: 100%
		z-index: 4
	.container-1024
		display: flex
		flex-direction: column
		position: relative
		z-index: 4
		h2
			color: $white
			margin-bottom: 48px
			text-align: center
		.programa-consultorio-row
			display: flex
			flex-wrap: wrap
			justify-content: flex-start
			.programa-consultorio-col
				background-color: $white
				border-radius: 14px
				box-shadow: 0 2px 6px 0px rgba($black, 0.75)
				margin-right: 3%
				padding: 32px
				width: 31.31%
				&:last-child
					margin-right: 0
				
				.programa-consultorio-head
					align-items: center
					display: flex
					justify-content: space-between
					h4
						color: $rose
						font-size: 1.1rem
					span
						color: $rose
						font-size: .85rem
				.programa-consultorio-title
					display: flex
					margin: 40px 0
					h3
						color: $rose
						font-size: 1.25rem
						font-style: italic
						font-weight: $regular
						text-align: right
				.programa-consultorio-body
					margin-bottom: 40px
					p
						text-align: justify
						span
							color: $rose
							font-weight: $bold
				.programa-consultorio-actions
					display: flex
					justify-content: flex-end
					a
						align-items: center
						background-color: $rose
						border-radius: 50%
						color: $white
						display: flex
						font-size: 1.25rem
						justify-content: center
						height: 42px
						width: 42px

/*  Gente hablando de Figma
	========================================================================== */
.programa-persons-talkin
	background-color: teal
	padding: 60px 0
