/*!
	-----------------------------------------------------------------------------

	2.0 - Usuarios
			# Listado
			# Crear
			# Actualizar

	-----------------------------------------------------------------------------
	*/


/*  Listado
	======================================= */
.page-donativo
	// background-color: red
	margin-top: 40px
	.panel
		// @extend .bg-trans
		background-color: #F9C6C1
		h2
			color: $white
			@extend .block
			font-size: 4rem
			font-weight: $light
			margin-bottom: 24px
		
		.panel-body
			input[type="checkbox"]
				background-color: red
				position: absolute
				z-index: -2

		.panel-bg
			background-image: url(../images/bkgd.jpg)
			@extend .bkgd-image
			height: 250px
			width: 100%
	
	.title-gral
		.donar-costo
			color: #F9C6C1
		small
			color: #F9C6C1
	
	.donativo-slider
		margin-bottom: 40px
		position: relative
		.ui-slider-handle,
		.ui-state-default
			background-color: #D9262C


/*  Login y Registro
	======================================= */
.registro-int
    padding: 20px 0 60px


.registro-int h2
	color: $white
	font-size: 1.8rem
	font-weight: $bold
	text-align: center
	margin: 0 auto 40px
	max-width: 90%
	width: 440px

@media only screen and (max-width: 768px)
    .ent-usuarios-create h1
        font-size: 2.4rem
    
    .registro-int h2
        font-size: 1.2rem
        width: 80%
    

@media only screen and (max-width: 480px)
    .registro-int .registro-int
        margin: 0 auto
        width: 90%
    
    .ent-usuarios-create h1
        font-size: 2rem
    
    .registro-int h2
        font-size: 1.1rem
        width: 90%
    


.ent-usuarios-form
    background-color: #F9C6C1
    border-radius: 8px
    margin: 0 auto
    width: 340px
    padding: 40px 34px

@media only screen and (max-width: 768px) 
    .ent-usuarios-form 
        width: 80%
    

@media only screen and (max-width: 480px) 
    .ent-usuarios-form 
        padding: 40px 20px
        min-width: 90%
        width: 90%
    


.ent-usuarios-form .form-line 
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 18px
    width: 100%

.ent-usuarios-form .form-line .form-group
    width: 100%

.ent-usuarios-form .form-line .form-group .help-block
    color: #D9262C
    font-size: .9rem
    margin-top: 4px
    padding-left: 16px


.ent-usuarios-form .form-line input[type="text"],
.ent-usuarios-form .form-line input[type="password"],
.ent-usuarios-form .form-line input[type="email"]
    color: #8D2326
    border-color: #fff
    font-size: 1.1rem
    font-family: "Source Sans Pro",sans-serif
    font-weight: 400
    padding: 4px 12px
    text-align: left

    width: 100%

@media only screen and (max-width: 480px) 
    .ent-usuarios-form .form-line input[type="text"],
    .ent-usuarios-form .form-line input[type="email"]
        font-size: 1rem
    

.ent-usuarios-form .form-line input[type="text"]::placeholder,
.ent-usuarios-form .form-line input[type="email"]::placeholder 
    color: #cac6c6
    font-family: "Source Sans Pro",sans-serif
    font-weight: 300
    opacity: 1



.ent-usuarios-form .form-line input[type="text"]:-ms-input-placeholder,
.ent-usuarios-form .form-line input[type="email"]:-ms-input-placeholder 
    color: #cac6c6
    font-family: "Source Sans Pro",sans-serif
    font-weight: 300


.ent-usuarios-form .form-line input[type="text"]::-ms-input-placeholder,
.ent-usuarios-form .form-line input[type="email"]::-ms-input-placeholder 
    color: #cac6c6
    font-family: "Source Sans Pro",sans-serif
    font-weight: 300


.ent-usuarios-form .form-group .btn-primary, 
.ent-usuarios-form .form-group .btn-success
	background-color: #D9262C
	border-color: #D9262C
	font-family: "Source Sans Pro",sans-serif
	font-weight: 300
	font-size: 1.45rem
	margin-top: 30px
	width: 100%

.ent-usuarios-form .form-group .btn-primary:active, 
.ent-usuarios-form .form-group .btn-success:active,
.ent-usuarios-form .form-group .btn-primary:focus, 
.ent-usuarios-form .form-group .btn-success:focus,
.ent-usuarios-form .form-group .btn-primary:hover, 
.ent-usuarios-form .form-group .btn-success:hover
	background-color: #F1E8C9
	border-color: #F1E8C9
	color: #D9262C
	margin-top: 30px
	width: 100%


/*  Forma de pago
	======================================= */
.donativos-wrapper
	// background-color: red
	+respond-to(sl)
		padding: 0 32px

.donativos-wrapper .tipos-de-pago-content
    height: auto
    padding-bottom: 80px


.donativos-wrapper .tipos-de-pago-content h3
    font-weight: 600
    /*margin: 80px 0 60px*/
    width: 400px

.donativos-wrapper .tipos-de-pago-content .tipos-de-pago
    background-color: rgba(69,21,24,.8)
    max-width: 90%
    padding: 30px 40px
    width: auto



.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard .btn-tipo-de-pago
    background-color: #F1E8C9

.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard .caption
    font-size: 1rem
    font-style: normal
    font-weight: 300


.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard
    display: flex
    justify-content: center
    margin: 0
    width: 100%

.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard div:hover
    cursor: pointer

.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard div:nth-child(2)
    margin-left: 20px


.donativos-wrapper .tipos-de-pago-content .open-pay
    margin-top: 80px

.donativos-wrapper .tipos-de-pago-content .open-pay span
    color: #fff
    display: block
    margin-bottom: 20px
    text-align: center

.donativos-wrapper .tipos-de-pago-content .open-pay img
    width: 350px



.donativos-wrapper .btn-boletos
    background-color: #E26666
    font-size: .9rem
    text-transform: uppercase

.donativos-wrapper .btn-boletos:active,
.donativos-wrapper .btn-boletos:hover,
.donativos-wrapper .btn-boletos:focus
    background-color: #F1E8C9
    color: #E26666


.donativos-wrapper .donativos-content
    height: auto
    padding-bottom: 80px


.donativos-wrapper .donativos-content .title
    margin: 0 0 60px

.donativos-wrapper .donativos-content .title .title-lg
    display: block
    font-size: 2rem
    font-weight: 700
    margin: 0 auto
    text-transform: uppercase

.donativos-wrapper .donativos-content .title .title-xs
    display: block
    font-size: 1.3rem
    font-weight: 600
    margin: 0 auto


.donativos-wrapper .donativos-content .tarjetas-wrapper
    flex-wrap: wrap
    justify-content: flex-start
    margin: 0 auto
    max-width: 1024px
    width: 90%

.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta
    background-color: transparent
    margin: 0
    margin-right: 3%
    width: 31.31%


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .tarjeta-int
    background-color: #F9C6C1
    border-radius: 4px
    width: 100%


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta:nth-child(3n + 3)
    margin-right: 0


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .header
    color: #fff

.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .monto
    color: #8D2326


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .monto .currency
    font-size: 1.6rem
    margin-top: -2px

.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .monto .cantidad
    font-size: 5rem

.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .monto .moneda
    font-size: .95rem


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta form
    width: 100%

/**/

.donativos-wrapper .donativos-content .custom-amount-wrapper
    background-color: rgba(69,21,24,.8)
    height: auto
    margin-top: 80px
    padding: 30px 0 60px

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar
    max-width: 90%
    padding: 10px 20px
    width: 740px

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .header
    color: #8D2326

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto
    margin: 0
    width: auto

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto .currency
    font-size: 1.4rem
    margin: 12px 8px 16px 0

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto .currency,
.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto .moneda
    color: #8D2326

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto .input-monto,
.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto input[type="text"]
    color: #8D2326
    border-color: #fff
    font-size: 1.85rem
    font-family: "Source Sans Pro",sans-serif
    font-weight: 400
    max-width: 100%
    padding: 4px 12px
    text-align: right
    width: 280px


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .btn-donativo,
.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .btn_nuevo_monto
    background-color: #D9262C


.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar
  background-color: #F1E8C9  
