/*!
	-----------------------------------------------------------------------------

	2.0 - Usuarios
			# Listado
			# Crear
			# Actualizar

	-----------------------------------------------------------------------------
	*/

.bkgd-gral-mask
	bottom: 0
	background-color: black
	left: 0
	height: 100%
	position: absolute
	right: 0
	top: 0
	width: 100%
	z-index: 1

.navbar-default,
.container,
.site-footer
	position: relative
	z-index: 2

/*  Listado
	======================================= */
.page-donativo
	// background-color: red
	margin-top: 40px
	.panel
		// @extend .bg-trans
		background-color: #F9C6C1
		h2
			color: $white
			@extend .block
			font-size: 4rem
			font-weight: $light
			margin-bottom: 24px
		
		.panel-body
			input[type="checkbox"]
				background-color: red
				position: absolute
				z-index: -2

		.panel-bg
			background-image: url(../images/bkgd.jpg)
			@extend .bkgd-image
			height: 250px
			width: 100%
	
	.title-gral
		.donar-costo
			color: #D9262C
		small
			color: #D9262C
	
	.donativo-slider
		margin-bottom: 40px
		position: relative
		.ui-slider-handle,
		.ui-state-default
			background-color: #D9262C


/*  Login y Registro
	======================================= */
.registro-int
    padding: 20px 0 60px


.registro-int h2
	color: $white
	font-size: 1.8rem
	font-weight: $bold
	text-align: center
	margin: 0 auto 40px
	max-width: 90%
	width: 440px

@media only screen and (max-width: 768px)
    .ent-usuarios-create h1
        font-size: 2.4rem
    
    .registro-int h2
        font-size: 1.75rem
        width: 80%
    

@media only screen and (max-width: 480px)
    .registro-int .registro-int
        margin: 0 auto
        width: 90%
    
    .ent-usuarios-create h1
        font-size: 2rem
    
    .registro-int h2
        font-size: 1.7rem
        width: 90%
    


.ent-usuarios-form
	background-color: #F9C6C1
	border-radius: 8px
	margin: 0 auto
	width: 340px
	padding: 40px 34px
	

@media only screen and (max-width: 768px) 
    .ent-usuarios-form 
        width: 80%
    

@media only screen and (max-width: 480px) 
    .ent-usuarios-form 
        padding: 40px 20px
        min-width: 90%
        width: 90%
    

.ent-usuarios-form .form-group
    width: 100%

.ent-usuarios-form .form-group .help-block
    color: #D9262C
    font-size: 1.1rem
    margin-top: 4px
    padding-left: 16px


.ent-usuarios-form input[type="text"],
.ent-usuarios-form input[type="password"],
.ent-usuarios-form input[type="email"]
	color: #8D2326
	border-color: #fff
	font-size: 1.4rem
	font-weight: 400
	padding: 4px 12px
	text-align: left
	width: 100%
	+placeholder
		color: #AAA
	+respond-to(sl)
		+placeholder
			opacity: 1

.ent-usuarios-form .form-group .btn-primary, 
.ent-usuarios-form .form-group .btn-success
	background-color: #D9262C
	border-color: #D9262C
	font-family: "Source Sans Pro",sans-serif
	font-weight: 300
	font-size: 1.45rem
	margin-top: 30px
	width: 100%

.ent-usuarios-form .form-group .btn-primary:active, 
.ent-usuarios-form .form-group .btn-success:active,
.ent-usuarios-form .form-group .btn-primary:focus, 
.ent-usuarios-form .form-group .btn-success:focus,
.ent-usuarios-form .form-group .btn-primary:hover, 
.ent-usuarios-form .form-group .btn-success:hover
	background-color: #F1E8C9
	border-color: #F1E8C9
	color: #D9262C
	margin-top: 30px
	width: 100%


/*  Forma de pago
	======================================= */
.donativos-wrapper
	// background-color: red
	+respond-to(sl)
		padding: 0 32px

.donativos-wrapper .tipos-de-pago-content
    height: auto
    padding-bottom: 80px


.donativos-wrapper .tipos-de-pago-content h3
    font-weight: 600
    /*margin: 80px 0 60px*/
    width: 400px

.donativos-wrapper .tipos-de-pago-content .tipos-de-pago
    background-color: rgba(69,21,24,.8)
    max-width: 90%
    padding: 30px 40px
    width: auto



.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard .btn-tipo-de-pago
    background-color: #F1E8C9

.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard .caption
    font-size: 1rem
    font-style: normal
    font-weight: 300


.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard
    display: flex
    justify-content: center
    margin: 0
    width: 100%

.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard div:hover
    cursor: pointer

.donativos-wrapper .tipos-de-pago-content .tipos-de-pago .pagocard div:nth-child(2)
    margin-left: 20px


.donativos-wrapper .tipos-de-pago-content .open-pay
    margin-top: 80px

.donativos-wrapper .tipos-de-pago-content .open-pay span
    color: #fff
    display: block
    margin-bottom: 20px
    text-align: center

.donativos-wrapper .tipos-de-pago-content .open-pay img
    width: 350px



.donativos-wrapper .btn-boletos
    background-color: #E26666
    font-size: .9rem
    text-transform: uppercase

.donativos-wrapper .btn-boletos:active,
.donativos-wrapper .btn-boletos:hover,
.donativos-wrapper .btn-boletos:focus
    background-color: #F1E8C9
    color: #E26666


.donativos-wrapper .donativos-content
    height: auto
    padding-bottom: 80px


.donativos-wrapper .donativos-content .title
    margin: 0 0 60px

.donativos-wrapper .donativos-content .title .title-lg
    display: block
    font-size: 2rem
    font-weight: 700
    margin: 0 auto
    text-transform: uppercase

.donativos-wrapper .donativos-content .title .title-xs
    display: block
    font-size: 1.3rem
    font-weight: 600
    margin: 0 auto


.donativos-wrapper .donativos-content .tarjetas-wrapper
    flex-wrap: wrap
    justify-content: flex-start
    margin: 0 auto
    max-width: 1024px
    width: 90%

.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta
    background-color: transparent
    margin: 0
    margin-right: 3%
    width: 31.31%


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .tarjeta-int
    background-color: #F9C6C1
    border-radius: 4px
    width: 100%


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta:nth-child(3n + 3)
    margin-right: 0


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .header
    color: #fff

.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .monto
    color: #8D2326


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .monto .currency
    font-size: 1.6rem
    margin-top: -2px

.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .monto .cantidad
    font-size: 5rem

.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .monto .moneda
    font-size: .95rem


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta form
    width: 100%

/**/

.donativos-wrapper .donativos-content .custom-amount-wrapper
    background-color: rgba(69,21,24,.8)
    height: auto
    margin-top: 80px
    padding: 30px 0 60px

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar
    max-width: 90%
    padding: 10px 20px
    width: 740px

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .header
    color: #8D2326

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto
    margin: 0
    width: auto

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto .currency
    font-size: 1.4rem
    margin: 12px 8px 16px 0

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto .currency,
.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto .moneda
    color: #8D2326

.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto .input-monto,
.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .monto input[type="text"]
    color: #8D2326
    border-color: #fff
    font-size: 1.85rem
    font-family: "Source Sans Pro",sans-serif
    font-weight: 400
    max-width: 100%
    padding: 4px 12px
    text-align: right
    width: 280px


.donativos-wrapper .donativos-content .tarjetas-wrapper .tarjeta .btn-donativo,
.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar .btn_nuevo_monto
    background-color: #D9262C


.donativos-wrapper .donativos-content .custom-amount-wrapper .custom-bar
  background-color: #F1E8C9  


/*  Gracias
	======================================= */
.container-gracias
	// background-color: red
	.boletos-content
		display: flex
		margin: 80px auto 60px
		justify-content: center
		padding: 0 0 80px 0
		margin-top: 0px

	.boletos-int
		align-items: center
		background-color: rgba(69,21,24,.8)
		display: flex
		flex-direction: column
		justify-content: center
		max-width: 90%
		padding: 40px
		width: 510px

		i
			color: $white
			font-size: 8rem
			margin-bottom: 20px

		h2
			color: $white
			font-size: 2.4rem
			font-weight: 300
			text-align: center

		h2 span
			font-size: 2.45rem
			font-weight: 700

		h5
			color: $white
			font-size: 1.65rem
			font-weight: 300
			margin-bottom: 32px

		.boletos-int-btn
			background-color: #D9262C
			color: #FFF
			text-transform: uppercase

		.boletos-int-btn:hover
			background-color: #F1E8C9
			color: #E26666



/*  Mis donaciones
	======================================= */
.donativos-wrapper .btn-inicio
    right: 180px
    right: 24px

.mis-donaciones-content
    align-items: center
    padding-bottom: 80px
    display: flex
    flex-direction: column
    /* height: 100% */
    width: 100%

.mis-donaciones-content h3
    margin: 80px 0 60px
    text-align: center



.mis-donaciones-content .donaciones-table
    background-color: white
    border-radius: 4px
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin: 0 auto
    max-width: 90%
    overflow: hidden
    width: 1024px


.mis-donaciones-content .donaciones-table .donaciones-head,
.mis-donaciones-content .donaciones-table .donaciones-row
    display: flex
    justify-content: flex-start
    width: 100%

.mis-donaciones-content .donaciones-table .donaciones-head
    background-color: #F9C6C1
    color: #fff


.mis-donaciones-content .donaciones-table .donaciones-row
    background-color: #fff
    border-bottom: 1px solid #eee

.mis-donaciones-content .donaciones-table .donaciones-row:nth-child(odd)
    background-color: #f7f7f7


.mis-donaciones-content .donaciones-table .donaciones-head p
    font-weight: 500
    /*text-align: center*/

.mis-donaciones-content .donaciones-table .donaciones-head p,
.mis-donaciones-content .donaciones-table .donaciones-row p
    padding: 10px 12px


.mis-donaciones-content .donaciones-table .donaciones-head .donaciones-monto,
.mis-donaciones-content .donaciones-table .donaciones-row .donaciones-monto
    width: 24%
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden



.donativos-wrapper .btn-boletos.boton-salir
	left: 24px
	right: auto !important


.mis-donaciones-content .donaciones-table .donaciones-head .donaciones-transaccion,
.mis-donaciones-content .donaciones-table .donaciones-row .donaciones-transaccion
    width: 44%
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

.mis-donaciones-content .donaciones-table .donaciones-head .donaciones-fecha,
.mis-donaciones-content .donaciones-table .donaciones-row .donaciones-fecha
    width: 32%
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden


.mis-donaciones-content .donaciones-table .donaciones-row .donaciones-monto
.mis-donaciones-content .donaciones-table .donaciones-row .donaciones-transaccion
.mis-donaciones-content .donaciones-table .donaciones-row .donaciones-fecha





/** ==========================
	* Conentendor Principal
	=============================
	**/
.donaciones-accordion 
	padding-left: 0

.donaciones-accordion-head,
.donaciones-accordion 
	width: 100%
	margin: 0 auto
	border-radius: 4px
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
	display: flex
	flex-wrap: wrap

	.donaciones-accordion__list 
		background-color: #FFF
		list-style: none
		width: 100%

	.donaciones-accordion__list:nth-child(odd)
		background-color: #f7f7f7

	.donaciones-accordion__list .header 
		align-content: center
		background-color: #F9C6C1
		font-size: 0.85em
		font-weight: 700
		display: flex
		justify-content: flex-start
		width: 100%
		position: relative

	.donaciones-accordion__list .link 
		align-items: center
		font-size: 0.85em
		font-weight: 700
		cursor: pointer
		border-bottom: 1px solid #e7e7e6
		display: flex
		justify-content: flex-start
		width: 100%
		position: relative
		-webkit-transition: all 0.4s ease
		-moz-transition: all 0.4s ease
		-moz-transition: all 0.4s ease
		-o-transition: all 0.4s ease
		transition: all 0.4s ease

	.donaciones-accordion__list .header .donaciones-datos,
	.donaciones-accordion__list .header .donaciones-monto,
	.donaciones-accordion__list .header .donaciones-fecha,
	.donaciones-accordion__list .header .donaciones-tipo,
	.donaciones-accordion__list .header .donaciones-facturar,
	.donaciones-accordion__list .header .donaciones-recurrencia,
	.donaciones-accordion__list .link .donaciones-datos,
	.donaciones-accordion__list .link .donaciones-monto,
	.donaciones-accordion__list .link .donaciones-fecha,
	.donaciones-accordion__list .link .donaciones-tipo,
	.donaciones-accordion__list .link .donaciones-facturar,
	.donaciones-accordion__list .link .donaciones-recurrencia
		padding: 10px 12px

	.donaciones-accordion__list .header .donaciones-datos,
	.donaciones-accordion__list .header .donaciones-monto,
	.donaciones-accordion__list .header .donaciones-fecha,
	.donaciones-accordion__list .header .donaciones-tipo,
	.donaciones-accordion__list .header .donaciones-facturar,
	.donaciones-accordion__list .header .donaciones-recurrencia
		color: #fff
		font-size: .95rem
		font-weight: 500

	.donaciones-accordion__list .link .donaciones-datos,
	.donaciones-accordion__list .link .donaciones-monto,
	.donaciones-accordion__list .link .donaciones-fecha,
	.donaciones-accordion__list .link .donaciones-tipo,
	.donaciones-accordion__list .link .donaciones-facturar,
	.donaciones-accordion__list .link .donaciones-recurrencia
		white-space: pre-wrap
		word-wrap: break-word
		overflow-wrap: break-word


	.donaciones-accordion__list .header .donaciones-monto,
	.donaciones-accordion__list .link .donaciones-monto
		width: 23%

	.donaciones-accordion__list .header .donaciones-fecha,
	.donaciones-accordion__list .link .donaciones-fecha
		width: 16%

	.donaciones-accordion__list .header .donaciones-tipo,
	.donaciones-accordion__list .link .donaciones-tipo
		width: 25%

	// XS
	.donaciones-accordion__list .header .donaciones-tipo,
	.donaciones-accordion__list .header .donaciones-facturar,
	.donaciones-accordion__list .header .donaciones-recurrencia,
	.donaciones-accordion__list .link .donaciones-tipo,
	.donaciones-accordion__list .link .donaciones-facturar,
	.donaciones-accordion__list .link .donaciones-recurrencia
		+respond-to(xs)
			display: none

	.donaciones-accordion__list .header .donaciones-datos,
	.donaciones-accordion__list .link .donaciones-datos
		+respond-to(xs)
			width: 20%

	.donaciones-accordion__list .header .donaciones-monto,
	.donaciones-accordion__list .link .donaciones-monto
		+respond-to(xs)
			width: 40%

	.donaciones-accordion__list .header .donaciones-fecha,
	.donaciones-accordion__list .link .donaciones-fecha
		+respond-to(xs)
			width: 40%

	// TP
	.donaciones-accordion__list .header .donaciones-tipo,
	.donaciones-accordion__list .header .donaciones-facturar,
	.donaciones-accordion__list .header .donaciones-recurrencia,
	.donaciones-accordion__list .link .donaciones-tipo,
	.donaciones-accordion__list .link .donaciones-facturar,
	.donaciones-accordion__list .link .donaciones-recurrencia
		+respond-to(tp)
			display: none

	.donaciones-accordion__list .header .donaciones-datos,
	.donaciones-accordion__list .link .donaciones-datos
		+respond-to(tp)
			width: 20%

	.donaciones-accordion__list .header .donaciones-monto,
	.donaciones-accordion__list .link .donaciones-monto
		+respond-to(tp)
			width: 40%

	.donaciones-accordion__list .header .donaciones-fecha,
	.donaciones-accordion__list .link .donaciones-fecha
		+respond-to(tp)
			width: 40%

	.donaciones-accordion__list .header .donaciones-facturar,
	.donaciones-accordion__list .link .donaciones-facturar
		+respond-to(tp)
			width: 15%

	.donaciones-accordion__list .header .donaciones-recurrencia,
	.donaciones-accordion__list .link .donaciones-recurrencia
		+respond-to(tp)
			text-align: center
			width: 18%


	.donaciones-accordion__list .link .donaciones-facturar
		display: flex
		justify-content: space-between
		+respond-to(xs)
			display: none
		+respond-to(tp)
			display: none


	.donaciones-accordion__list .link .donaciones-recurrencia .donaciones-recurrencia-cancelada
		color: #E26666


	.donaciones-accordion__list .donaciones-btn-facturar,
	.donaciones-accordion__list .donaciones-btn-cancelar-donativo,
	.donaciones-accordion__list .donaciones-facturar-pdf,
	.donaciones-accordion__list .donaciones-facturar-xml
		font-size: .9rem
		min-width: 40px
		padding: .6rem .4rem
		white-space: pre-wrap
		word-wrap: break-word
		overflow-wrap: break-word
		width: 100%

	.donaciones-accordion__list .btn:last-child
		margin-left: 10px


	.donaciones-accordion__list .donaciones-btn-facturar
		background-color: #18ba1a
		color: white

	.donaciones-accordion__list .donaciones-btn-facturar:active,
	.donaciones-accordion__list .donaciones-btn-facturar:focus,
	.donaciones-accordion__list .donaciones-btn-facturar:hover
		background-color: #128d14
		color: white


	.donaciones-accordion__list .donaciones-btn-cancelar-donativo
		background-color: #ff6
		color: #555

	.donaciones-accordion__list .donaciones-btn-cancelar-donativo:active,
	.donaciones-accordion__list .donaciones-btn-cancelar-donativo:focus,
	.donaciones-accordion__list .donaciones-btn-cancelar-donativo:hover
		background-color: #ff9
		color: #555


	.donaciones-accordion__list .donaciones-facturar-pdf,
	.donaciones-accordion__list .donaciones-facturar-xml
		background-color: #F1E8C9
		color: #E26666

	.donaciones-accordion__list .donaciones-facturar-pdf:active,
	.donaciones-accordion__list .donaciones-facturar-xml:active,
	.donaciones-accordion__list .donaciones-facturar-pdf:focus,
	.donaciones-accordion__list .donaciones-facturar-xml:focus,
	.donaciones-accordion__list .donaciones-facturar-pdf:hover,
	.donaciones-accordion__list .donaciones-facturar-xml:hover
		background-color: #E26666
		color: #F1E8C9


	.donaciones-accordion__list .link__title 
		padding: 1.5em
		padding-left: 3em
		position: relative
		box-sizing: border-box
		width: 10%
		display: none
		background-color: transparent
		color: #37474F

	.donaciones-accordion li:last-child .link 
		border-bottom: 0

  
// Dise: No iconos font-awesome
.donaciones-accordion li span.glyphicon 
	position: absolute
	top: .8em
	left: .8rem
	font-size: 1em
	color: #595959
	transition: all 0.4s ease
  
  
.donaciones-accordion li span.glyphicon 
	right: 12px
	left: auto
	font-size: 1.2em
  
  
// Conf. clase link al estar activo submenu (con js) **/
.donaciones-accordion li.open span.glyphicon
	color: #ff5252


.donaciones-accordion li.open span.glyphicon 
	transform: rotate(180deg)
  
  
// Submenu
.donaciones-submenu 
	display: none
	background-color: #8D2326
	padding: 20px


	.donaciones-submenu-small
		display: flex
		justify-content: space-between
		+respond-to(xs)
			display: none
		+respond-to(tp)
			display: none
		+respond-to(sl)
			display: none

	.donaciones-submenu-panel,
	.donaciones-submenu-panel-row
		display: none
		justify-content: space-between
		+respond-to(xs)
			display: flex
		+respond-to(tp)
			display: flex
		+respond-to(sl)
			display: flex

	.donaciones-submenu-panel
		margin-bottom: 16px

	.donaciones-submenu-panel-row
		margin-top: 26px


	.donaciones-submenu-small p,
	.donaciones-submenu-small span,
	.donaciones-submenu-panel span,
	.donaciones-submenu-panel p,
	.donaciones-submenu-panel-col p,
	.donaciones-submenu-panel-col span
		color: white
		font-weight: 400

	

	.donaciones-submenu-panel span
		width: 140px

	.donaciones-submenu-panel p
		width: calc(100% - 140px)


	.donaciones-submenu-panel-row
		flex-wrap: wrap

	.donaciones-submenu-panel-col
		align-items: center
		display: flex
		flex-wrap: wrap
		width: 50%
		+respond-to(sl)
			width: 100%

	.donaciones-submenu-panel-col:first-child
		padding-right: 10px
		+respond-to(sl)
			margin-bottom: 20px
			padding-right: 0

	.donaciones-submenu-panel-col:last-child
		padding-left: 10px
		+respond-to(sl)
			padding-left: 0

	.donaciones-submenu-panel-col p
		display: flex
		width: 60%
		+respond-to(sl)
			text-align: center
			width: 100%

	.donaciones-submenu-panel-col span
		display: flex
		width: 40%
		+respond-to(sl)
			margin-bottom: 12px
			text-align: center
			width: 100%
  

+respond-to(xs)
	// .donaciones-accordion__list .header .donaciones-tipo,
	// .donaciones-accordion__list .header .donaciones-facturar,
	// .donaciones-accordion__list .header .donaciones-recurrencia,
	// .donaciones-accordion__list .link .donaciones-tipo,
	// .donaciones-accordion__list .link .donaciones-facturar,
	// .donaciones-accordion__list .link .donaciones-recurrencia
	// 	display: none

	// .donaciones-accordion__list .header .donaciones-datos,
	// .donaciones-accordion__list .link .donaciones-datos
	// 	width: 20%

	// .donaciones-accordion__list .header .donaciones-monto,
	// .donaciones-accordion__list .link .donaciones-monto
	// 	width: 40%

	// .donaciones-accordion__list .header .donaciones-fecha,
	// .donaciones-accordion__list .link .donaciones-fecha
	// 	width: 40%


	// .donaciones-submenu-small
	// 	display: none

	// .donaciones-submenu-panel,
	// .donaciones-submenu-panel-row
	// 	display: flex

  
+respond-to(tp)
	// .donaciones-accordion__list .header .donaciones-tipo,
	// .donaciones-accordion__list .header .donaciones-facturar,
	// .donaciones-accordion__list .header .donaciones-recurrencia,
	// .donaciones-accordion__list .link .donaciones-tipo,
	// .donaciones-accordion__list .link .donaciones-facturar,
	// .donaciones-accordion__list .link .donaciones-recurrencia
	// 	display: none

	// .donaciones-accordion__list .header .donaciones-datos,
	// .donaciones-accordion__list .link .donaciones-datos
	// 	width: 20%

	// .donaciones-accordion__list .header .donaciones-monto,
	// .donaciones-accordion__list .link .donaciones-monto
	// 	width: 40%

	// .donaciones-accordion__list .header .donaciones-fecha,
	// .donaciones-accordion__list .link .donaciones-fecha
	// 	width: 40%


	// .donaciones-submenu-small
	// 	display: none

	// .donaciones-submenu-panel,
	// .donaciones-submenu-panel-row
	// 	display: flex


  
+respond-to(sl)
	// .donaciones-submenu-small
	// 	display: none

	// .donaciones-submenu-panel,
	// .donaciones-submenu-panel-row
	// 	display: flex


	// .donaciones-submenu-panel-col
	// 	width: 100%

	// .donaciones-submenu-panel-col:first-child
	// 	margin-bottom: 20px
	// 	padding-right: 0

	// .donaciones-submenu-panel-col:last-child
	// 	padding-left: 0


	// .donaciones-submenu-panel-col p,
	// .donaciones-submenu-panel-col span
	// 	text-align: center
	// 	width: 100%

	// .donaciones-submenu-panel-col span
	// 	margin-bottom: 12px


